<!-- Lets talk about geddy -->
<div class="hero-unit geddy-welcome-box">
  <h1>Type email to save</h1>
  <input type="text" placeholder="Enter an email..." />
  <input type="submit" value="Save" />
</div>
